{{>adminlinks}}

{{>adminSidebar}}
<main class="main-wrap">
    {{>adminHeader}}
    <div class="offset-10 m-5">
        <a class="btn btn-warning" href="/admin/add-coupon">Add coupun</a>
    </div>
    <div class="col-md-12">

        <div class="row">
            {{#each couponCollection}}
            <div class="col-6">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-product-grid">
                                <div class="info-wrap">
                                    <a href="#" class="price mb-2">Coupon Code :{{this.couponCode}}</a>
                                    <div class="price mb-2">Description :{{this.description}}</div> <!-- price.// -->
                                    <div class="price mb-2">Value :{{this.value}} %</div> <!-- price.// -->
                                    <div class="price mb-2">Expire Date :{{this.date}}</div> <!-- price.// -->
                                    <div class="price mb-2">upto :{{this.upto}}</div> <!-- price.// -->

                                    <div class="price mb-2">MinMun Amount :${{this.minAmt}}</div> <!-- price.// -->

                                    <a href="/admin/edit-coupon/{{this._id}}"
                                        class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <a href="/admin/delete-coupon/{{this._id}}"
                                        class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete_forever"></i> Delete
                                    </a>
                                </div>
                            </div> <!-- card-product  end// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- {{#each couponCollection}}
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-product-grid">
                        <div class="info-wrap">
                            <a href="#" class="price mb-2">Coupon Code :{{this.codeGeneraor}}</a>
                            <div class="price mb-2">Description :{{this.description}}</div> <!-- price.// -->
                            <div class="price mb-2">Value :{{this.value}} %</div> <!-- price.// -->
                            <div class="price mb-2">Expire Date :{{this.date}}</div> <!-- price.// -->
                            <div class="price mb-2">MinMun Amount :${{this.minAmt}}</div> <!-- price.// -->

                            <a href="/admin/edit-coupon/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <a href="/admin/delete-coupon/{{this._id}}" class="btn btn-sm font-sm btn-light rounded">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </a>
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
        {{/each}} --}}
    </div>
</main>
{{>adminjs}}