{{>adminlinks}}

{{>adminSidebar}}
<main class="main-wrap">
    {{>adminHeader}}
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Products</h2>

                    </div>

                </div>


                <div class="tm-table-mt tm-table-actions-row">
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="order-table">
                    <thead>
                        <tr>
                            <th>no</th>
                            <th>Product Name</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">totalAMount</th>
                            <th scope="col">Total Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each month}}
                        <tr>
                            <td>{{inc @ index}}</td>
                            <td>{{this._id.name}}</td>
                            <td>{{this._id.price}}</td>
                            <td class="totalAmount">{{this.totalPrice}}</td>
                            <td>{{this.qtysum}}</td>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td id="sum"></td>
                        </tr>
                    </tfoot>
                </table>
            </div> <!-- table-responsive //end -->
        </div>
</main>
<script>
    $(document).ready(function () {
        $('#order-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ]
        });
    });
</script>
{{>adminjs}}