{{>adminlinks}}
{{>adminSidebar}}
<main class="main-wrap">
    {{>adminHeader}}
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Orders</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="order-table">
                    <thead>
                        <tr>
                            <th>no</th>
                            <th>Order #ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                            <th scope="col">Payment</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order}}
                        <tr>
                            <td>{{inc @ index}}</td>
                            <td>{{this._id}}</td>
                            <td><b>{{this.address.name}}</b></td>
                            <td>{{this.address.phone}}</td>
                            <td>{{this.totalAmount}}</td>
                            {{!-- <td>
                                {{#if this.pending}}
                                <span class="badge rounded-pill alert-danger">{{this.status}}</span>

                                {{else}}
                                <span class="badge rounded-pill alert-success">{{this.status}}</span>

                                {{/if}}
                            </td> --}}
                            <td>{{this.orderDate}}</td>
                            <td>{{this.paymentMethod}}</td>
                            <td class="text-end">
                                <a href="/admin/order-details/{{this._id}}"
                                    class="btn btn-md rounded font-sm">Detail</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div>
        <div class="tm-table-mt tm-table-actions-row m-4">
            <div class="tm-table-actions-col-right offset-9">
                <span class="tm-pagination-label">Page</span>
                <nav aria-label="Page navigation" class="d-inline-block">
                    <ul class="pagination tm-pagination">
                        {{#each pagesArray}}
                                {{!-- {{#if }} --}}
                                {{!-- <li class="page-item active"><a class="page-link"
                                        href="?page={{this.page}}">{{this.page}}</a></li> --}}
                                {{!-- {{else}} --}}
                                {{#if (eq this.current this.page)}}
                                    <li class="page-item active"><a class="page-link" href="?page={{this.page}}">{{this.page}}</a></li>
                                {{else}}
                                    <li class="page-item"><a class="page-link" href="?page={{this.page}}">{{this.page}}</a></li>
                                {{/if}}
                                
                                {{!-- {{/if}} --}}
                                {{!-- <li class="page-item"><a class="page-link"
                                        href="?page={{this.page}}">{{this.page}}</a></li> --}}
                                {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
</main>
{{>adminjs}}