{{>adminlinks}}

{{>adminSidebar}}
<main class="main-wrap">
    {{>adminHeader}}

    <div class="container row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Products</h2>

                    </div>
                    <div class="col-md-4 col-sm-12 text-right">
                        <a href="/admin/addProduct" class="btn btn-small btn-primary">Add New Product</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped tm-table-striped-even mt-3" id="product-table">
                        <thead>
                            <tr class="tm-bg-gray">
                                <th scope="col">NO</th>
                                <th scope="col">Product Name</th>
                                <th scope="col" class="text-center">category</th>
                                <th scope="col" class="text-center">Sub category</th>
                                <th scope="col" class="text-center">Description</th>
                                <th scope="col" class="text-center">In Stock</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-center">Offer Price</th>
                                <th scope="col" class="text-center">Image</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each product}}
                            <tr>
                                <td class="tm-product-name">{{inc @ index}}</td>
                                <td class="tm-product-name">{{this.name}}</td>
                                <td class="text-center">{{this.Category}}</td>
                                <td class="text-center">{{this.SubCatagory}}</td>
                                <td class="text-center">{{this.Description}}</td>
                                <td class="text-center">{{this.stock}}</td>
                                <td class="text-center">{{this.price}}</td>
                                <td class="text-center">{{this.offerPrice}}</td>
                                <td>
                                    <div>
                                        <img style="width:70px; height:70px border-radius: 0;!important"
                                            src='/uploads/{{this.imagefileName.[0]}}'>
                                    </div>
                                </td>

                                <td class="text-end">
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown"
                                            class="btn btn-light rounded btn-sm font-sm"> <i
                                                class="material-icons md-more_horiz"></i> </a>
                                        <div class="dropdown-menu">
                                            <a href="/admin/editProducts/{{this._id}}" class="btn btn-secondary"
                                                style="margin-bottom: 30px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="16" height="16" fill="currentColor"
                                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg></a>
                                            <a href="/admin/deleteProducts/{{this._id}}" class="btn btn-secondary"
                                                style="margin-bottom: 30px;"
                                                onclick="return confirm('Are you sure you want to delete {{this.Category}}?')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg></a>

                                            <a class="dropdown-item btn btn-secondary" style="width: 100px;" href="/admin/product-offer/{{this._id}}">Offer</a>
                                        </div>
                                    </div> <!-- dropdown //end -->
                                </td>


                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

                <div class="tm-table-mt tm-table-actions-row">
                    {{!-- <div class="tm-table-actions-col-left">
                        <button class="btn btn-danger">Delete Selected Items</button>
                    </div> --}}
                    {{!-- <div class="tm-table-actions-col-right offset-9">
                        <span class="tm-pagination-label">Page</span>
                        <nav aria-label="Page navigation" class="d-inline-block">
                            <ul class="pagination tm-pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <span class="tm-dots d-block">...</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">13</a></li>
                                <li class="page-item"><a class="page-link" href="#">14</a></li>
                            </ul>
                        </nav>
                    </div> --}}
                </div>
            </div>
        </div>
</main>


<script>
    $(document).ready(function () {
        $('#product-table').DataTable();
    });
</script>



{{>adminjs}}