{{>adminlinks}}

{{>adminSidebar}}
<main class="main-wrap">
  {{>adminHeader}}
  <div class="content-wrapper">
    <div class="row">
      <table class="table table-striped border m-4" id="userData">
        <thead class="table-dark">
          <tr>
            <th>No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th>Mobile.no</th>
            <th></th>
            <th>Actions</th>
        </thead>
        <tbody class="table-group-divider">
          {{#each users}}
          <tr>
            <td>{{inc @index }}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNo}}</td>
            <td>
              <label class="toggle">
                <input class="toggle-checkbox" type="" hidden {{#if this.banned}} checked 
                  onclick="window.location.href='/admin/unbanned/{{this._id}}'" {{else}} unchecked
                  onclick="window.location.href='/admin/banned/{{this._id}}'" {{/if}}>
                <div class="toggle-switch"></div>
                <span class="toggle-label">
                  {{#if this.banned}}
                  Blocked
                  {{else}}
                  Unblocked
                  {{/if}}
                </span>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" {{#if this.banned}} checked
                  onclick="window.location.href='/admin/unbanned/{{this._id}}'" {{else}} unchecked
                  onclick="window.location.href='/admin/banned/{{this._id}}'" {{/if}}>
                <span class="slider round"></span>
              </label>
            </td>
          {{/each}}
        </tbody>
      </table>
    </div>
    <!-- content-wrapper ends -->
    <div class="tm-table-mt tm-table-actions-row m-4">
            <div class="tm-table-actions-col-right offset-10">
                <span class="tm-pagination-label">Page</span>
                <nav aria-label="Page navigation" class="d-inline-block">
                    <ul class="pagination tm-pagination">
                        {{#each pagesArray}}
                        <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
  </div>
  </div>
  </div>
</main>
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
{{>adminjs}}