{{>userhead}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"
	integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn"
	crossorigin="anonymous"></script> --}}
{{>userHeader}}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 ftco-animate">
				<p><a href="/addAddress" class="btn btn-primary py-3 px-4">Add new Address</a></p>
				{{!-- <form action="#" class="billing-form">
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstname">Firt Name</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="country">State / Country</label>
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">France</option>
										<option value="">Italy</option>
										<option value="">Philippines</option>
										<option value="">South Korea</option>
										<option value="">Hongkong</option>
										<option value="">Japan</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="streetaddress">Street Address</label>
								<input type="text" class="form-control" placeholder="House number and street name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Appartment, suite, unit etc: (optional)">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="towncity">Town / City</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="postcodezip">Postcode / ZIP *</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="emailaddress">Email Address</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group mt-4">
								<div class="radio">
									<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
									<label><input type="radio" name="optradio"> Ship to different address</label>
								</div>
							</div>
						</div>
					</div>
				</form><!-- END --> --}}

				<!-- Default radio -->
				<form id="checkoutSubmit">

					<div class="cart-detail cart-total bg-light p-3 p-md-4">
						{{#each addressShow}}
						<div class="form-check">
							<label class="form-check-label" for="flexRadioDefault1"></label>
							<input class="form-check-input" type="radio" name="address" id="flexRadioDefault1"
								value="{{this.addressID}}" />
							<span>Name: {{this.details.fname}} </span> <br>
							<span>Country: {{this.details.country}}</span><br>
							<span>State: {{this.details.state}}</span><br>
							<span>State: {{this.details.state}}</span><br>
							<span>City: {{this.details.city}}</span><br>
							<span>Pincode: {{this.details.pincode}}</span><br>
							<span>Mobile No: {{this.details.phone}}</span><br>
							<span>Email : {{this.details.email}}</span><br>
							<hr>
							<hr>

							{{!-- {{#each addressShow.details}}
							<input class="form-check-input" type="radio" name="address2" id="flexRadioDefault1"
								value={{this}} />
							{{/each}} --}}
						</div>
						{{/each}}
					</div>


					<!-- Default checked radio -->
					{{!-- <div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
							checked />
						<label class="form-check-label" for="flexRadioDefault2"> Default checked radio </label>
					</div> --}}

					<div class="row mt-5 pt-3 d-flex">
						<div class="col-md-6 d-flex">
							<div class="cart-detail cart-total bg-light p-3 p-md-4">
								<h3 class="billing-heading mb-4">Cart Total</h3>
								{{!-- <p class="d-flex">
									<span>Subtotal</span>
									<span>$20.60</span>
								</p>
								<p class="d-flex">
									<span>Delivery</span>
									<span>$0.00</span>
								</p>
								<p class="d-flex">
									<span>Discount</span>
									<span>$3.00</span>
								</p> --}}
								<hr>
								<p class="d-flex total-price">
									<span>Total</span>
									<span>{{total}}</span>
								</p>
								<p class="d-flex total-price">
									<span >Sub Total</span>
									<span>{{subTotal}}</span>
									<input type="text" name="subtotal" value="{{subTotal}}" hidden>
								</p>
								<p class="d-flex total-price">
									<span>Final Amount</span>
									<span>{{couponAmt}}</span>
									<input type="text" name="couponAmt" value="{{couponAmt}}" hidden>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="cart-detail bg-light p-3 p-md-4">
								<h3 class="billing-heading mb-4">Payment Method</h3>
								{{!-- <div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="optradio" class="mr-2"> Direct Bank
												Tranfer</label>
										</div>
									</div>
								</div> --}}
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" value="COD" class="mr-2">
												Cash on
												Delivery</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" value="Razorpay" class="mr-2">
												Razorpay</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" value="paypal" class="mr-2">
												Paypal</label>
										</div>
									</div>
								</div>
									<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" value="wallet" class="mr-2">
												Wallet</label>
										</div>
									</div>
								</div>
								<input type="text" name="userId" value="{{user}}" hidden>
								{{!-- <div class="form-group">
									<div class="col-md-12">
										<div class="checkbox">
											<label><input type="checkbox" value="" class="mr-2"> I have read and accept
												the
												terms and conditions</label>
										</div>
									</div>
								</div> --}}
								<p><button type="submit" class="btn btn-primary py-3 px-4">Place an order</button></p>
							</div>
						</div>
					</div>
				</form>
			</div> <!-- .col-md-8 -->
		</div>
	</div>
</section> <!-- .section -->

<script>
	$('#checkoutSubmit').submit((e) => {
		e.preventDefault()
		var addressId = $('input[name="address"]:checked').val();
		var userID = $('input[name="userId"]').val();
		var paymentMethod = $('input[name="paymentMethod"]:checked').val();
		var subtotal = $('input[name="subtotal"]').val();
		var couponAmt = $('input[name = "couponAmt"]').val()
		$.ajax({
			url: '/placeOrder',
			method: 'post',
			data: {
				addressID: addressId,
				userId: userID,
				paymentMethod: paymentMethod,
				subtotal:subtotal,
				couponAmt:couponAmt
			},
			success: (response) => {
				if (response.codSuccess) {
					
					document.location.href = '/orderplaced'
				} else if(response.unknown)  {
					
					razorpayPayment(response)
				}
				else if(response.walletSucces){
					document.location.href = '/orderplaced'
				}
				else{
				    
					document.location.href = response.href
				}
			}
		})

	})
	function razorpayPayment(order) {
		console.log(order)
		var options = {
			"key": "rzp_test_oXgNaRuBSLuUSI", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "YARN FASHIONS",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				alert(response.razorpay_payment_id);
				alert(response.razorpay_order_id);
				alert(response.razorpay_signature)
				verifyPayment(response,order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		  rzp1.open();
	}
	function verifyPayment(payment,order){
		$.ajax({
			url:'/verify-payment',
			data:{
				payment,
				order
			},
			method:'post',
			success:(response)=>{
				if(response.status){
					document.location.href = '/orderplaced'
				}else{
					alert("payment failed")
				}
			}
		})
	}
</script>
{{>userfooter}}