<!--===============================================================================================-->

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	{{!--
	<link rel="icon" type="image/png" href="/cozza/images/icons/favicon.png" /> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/fonts/linearicons-v1.0.0/icon-font.min.css"> --}}
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/animate/animate.css"> --}}
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/css-hamburgers/hamburgers.min.css"> --}}
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/animsition/css/animsition.min.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/daterangepicker/daterangepicker.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	{{!--
	<link rel="stylesheet" type="text/css" href="/cozza/vendor/perfect-scrollbar/perfect-scrollbar.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cozza/css/util.css">
	<link rel="stylesheet" type="text/css" href="/cozza/css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<!--===============================================================================================-->
	{{!-- {{>userhead}} --}}
</head>

<body class="animsition">

	<!-- Header -->
	{{>userHeader}}





	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb='/uploads/{{data.imagefileName.[0]}}'>
									<div class="wrap-pic-w pos-relative">
										<img src='/uploads/{{data.imagefileName.[0]}}' alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href='/uploads/{{data.imagefileName.[0]}}'>
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb='/uploads/{{data.imagefileName.[1]}}'>
									<div class="wrap-pic-w pos-relative">
										<img src='/uploads/{{data.imagefileName.[1]}}' alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href='/uploads/{{data.imagefileName.[1]}}'>
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb='/uploads/{{data.imagefileName.[2]}}'>
									<div class="wrap-pic-w pos-relative">
										<img src='/uploads/{{data.imagefileName.[2]}}' alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href='/uploads/{{data.imagefileName.[2]}}'>
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{data.name}}
						</h4>

						<span class="mtext-106 cl2">
							{{data.offerprice}}
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{data.Description}}
						</p>

						{{#if data.stockExist}}
						<p class="stext-102 cl3 p-t-23" style="color: red;">
							Stock left only:{{data.stock}}
						</p>
						{{else}}
						{{/if}}
						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									
									{{#if data.noStock}}
										<button
										class="flex-c-m stext-101 cl0 size-101 btn-danger bor1 hov-btn1 p-lr-15 trans-04" disabled>
										out of stock
									</button>
									{{else}}
									{{#if existCart.exists}}
									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
										onclick="addToCart('{{data._id}}',{{data.stock}})">
										Go to cart
									</button>
									{{else}}
									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
										onclick="addToCart('{{data._id}}',{{data.stock}})">
										Add to cart
									</button>
									{{/if}}
									{{/if}}
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>


		</div>


	</section>
	<script src="/user/ajax/addToCart.js"></script>
	{{>userfooter}}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>



	<!--===============================================================================================-->
	<script src="/cozza/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/bootstrap/js/popper.js"></script>
	<script src="/cozza/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/daterangepicker/moment.min.js"></script>
	<script src="/cozza/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/slick/slick.min.js"></script>
	<script src="/cozza/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="/cozza/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/cozza/js/main.js"></script>
</body>

</html>

<script src='/user/jquery.zoom.js'></script>
<script>
	$(document).ready(function(){
		$('img').wrap('<span style="display:inline-block"></span>')
		.css('display','block')
		.parent()
		.zoom({magnify:2})
	})
</script>
