{{>userhead}}
{{>userHeader}}


<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table" id="orderViewTable">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>Image</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Payment</th>
								<th>status</th>
								<th>orderDate</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each orderList}}

							<tr class="text-center">
								<td class="image-prod"><img class="img"
										src='/uploads/{{this.products.imagefileName.[0]}}'></img></td>
								{{!-- <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a>
								</td> --}}


								<td class="product-nam">
									<h3>{{this.products.name}}</h3>
									<p>{{this.products.Description}}</p>
								</td>



								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="{{this.quantity}}" min="1" max="100" readonly>
									</div>
								</td>

								<td class="total">${{this.productTotal}}<br>
									{{#if this.coupon}}
									Discounted:${{this.couponAmt}}</td>
								{{else}}
								{{/if}}
								<td>{{this.paymentMethod}}</td>
								<td>{{this.paymentStatus}}</td>
								<td>{{this.orderDate}}</td>
								{{!-- {{#if this.cancelled}}
								{{else}}
								<td><button onclick="orderCanceled('{{this._id}}')"
										class="btn btn-primary">__X__</button></td>
							</tr><!-- END TR-->
							{{/if}} --}}
							<td>
								{{#if this.none}}
								{{else}}
								{{#if this.return}}
								{{else}}
								{{#if this.delivered}}
								<a href="/replace/{{this._id}}/{{this.products._id}}"
									class="btn btn-warning px-3 m-3">Return</a>
								<a href="/invoice/{{this._id}}/{{this.products._id}}"
									class="btn btn-success px-3 m-3">Invoice</a>
								{{else}}
								<button onclick="orderCanceled('{{this._id}}')" class="btn btn-danger p-2">Cancel
									Order</button>
								{{/if}}
								{{/if}}
								{{/if}}
							</td>
							{{/each}}


						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>

<div class="row mt-5">
	<div class="col text-center">
		<div class="block-27">
			<ul>
				{{!-- <li><a href="#">&lt;</a></li> --}}
				{{#each pagesArray}}
				{{#if (eq this.current this.page)}}
				<li class="active"><a  href="?page={{this.page}}">{{this.page}}</a></li>
				{{else}}
			   <li><a class="" href="?page={{this.page}}">{{this.page}}</a></li>
				{{/if}}
				{{/each}}
				{{!-- <li><a href="#">&gt;</a></li> --}}
			</ul>
		</div>
	</div>
</div>
</div>




{{>userfooter}}
<script>
	function orderCanceled(userId) {

		$.ajax({
			url: "/order-cancel/" + userId,
			type: "get",
			success: (response) => {

				$("#orderViewTable").load(location.href + " #orderViewTable>*", "");
			},
		});
	}
</script>


