{{> userhead}}
{{> userHeader}}

<section class="ftco-section ftco-cart">
	<div class="container" >
		<div class="row" >
			<div class="col-md-12 ftco-animate" id="whislistTable">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>Image</th>
								<th>Product</th>
								<th>Catagory</th>
								<th>Price</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{{#each products}}
							{{#each whislistItems}}
							<tr class="text-center">
								

								<td class="image-prod"><img style="width: 80px; height= 60px" class="img"
										src='/uploads/{{this.imagefileName.[0]}}'></img></td>

								<td class="product-name">
									<h3>{{this.name}}</h3>
									<p>{{this.Description}}</p>
								</td>

								<td>{{this.Category}}</td>
								<td class="price">${{this.offerPrice}}</td>
								
							
								<td>
										<a  href="/productview/{{this._id}}"
										class="btn btn-success p-3">View Product</a>
									
									<button onclick="deleteWhislist('{{this._id}}')"
										class="btn btn-danger p-3">Remove</button>
									
										</td>
							</tr><!-- END TR-->
							{{/each}}
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>

{{> userfooter}}