{{>userhead}}
{{>userHeader}}

{{!-- 
<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_4.jpg');>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
				<h1 class="mb-0 bread">Collection Products</h1>
			</div>
		</div>
	</div>
</div> --}}
<div class="row">
	<div class="col-lg-12">
		<div style="float: right; padding-right: 50px;">
				<div class="searchbar">
					<input class="search_input" id="search" type="text" oninput="searchh()" name="" placeholder="Search...">
					<a href="#" class="search_icon"><i class="fas fa-search"></i></a>
				</div>
			</div>
	</div>
</div>

<section class="ftco-section bg-muted">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 col-lg-2 sidebar">
				<div class="sidebar-box-2">
					<h2 class="heading mb-4"><a href="#">Clothing</a></h2>
					<ul>
						<li class="subCat" data-filter="{{this.subCategory}}"><a href="">ALL</a></li>
						{{#each subCatagoryProduct}}
						{{#each this.subCatagories}}
						<li class="subCat" data-filter="{{this.name}}"><a href="#">{{this.name}}</a></li>
						{{/each}}
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="col-md-8 col-lg-10 order-md-last ">
				<div class="row" id="productCardDiv">
					{{#each products}}
					<div class="col-sm-6 col-md-6 col-lg-4 ftco-animate itemBox {{this.subCategory}} produtsdiv">
						<div class="product">
							<a href="/productView" class="img-prod"><img class="img-fluid"
									src='/uploads/{{this.imagefileName.[0]}}' style="width: 400px; height: 400px "
									alt="Image is not supported">
								<div class="overlay"></div>
							</a>
							<div class="text py-3 px-3">
								<h3 ><a  href="/productview/{{this._id}}"><span class="produtsname">{{this.name}}</span></a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span class="mr-2 price-dc">{{this.price}}</span><span
												class="price-sale">{{this.offerPrice}}</span></p>
									</div>
									<div class="rating">
										<p class="text-right">
											{{#if this.wishlist}}
											<Button onclick="whislistRemove('{{this._id}}')" id="removeWhislist"><i
													style="color: red;" class="fas fa-heart"></i></Button>
											{{else}}
											<Button onclick="whislistAdd('{{this._id}}')" id="whislistbtn"><i
													class="fas fa-heart"></i></Button>
											{{/if}}

										</p>
									</div>
								</div>
								{{#if cartList}}
								<p class="bottom-area d-flex px-3">
									<a class="add-to-cart text-center py-2 mr-1"
										onclick="location.href='/cart'"><span>Go to cart <i
												class="ion-ios-add ml-1"></i></span>
									</a>
								</p>
								{{else}}
								<p class="bottom-area d-flex px-3" >
									<a class="add-to-cart text-center py-2 mr-1"
										onclick="addToCart('{{this._id}}','{{this.stock}}')"><span>Add to cart <i
												class="ion-ios-add ml-1"></i></span>
									</a>
								</p>
								{{/if}}

							</div>
						</div>
					</div>
					{{/each}}
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								{{!-- <li><a href="#">&lt;</a></li> --}}
								{{#each pagesArray}}
								<li class="active"><a href="?page={{this}}">{{this}}</a></li>
								{{/each}}
								{{!-- <li><a href="#">&gt;</a></li> --}}
							</ul>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


</section>
<style>
	.searchbar {
		margin-bottom: auto;
		margin-top: auto;
		height: 60px;
		background-color: #353b48;
		border-radius: 30px;
		padding: 10px;
	}

	.search_input {
		color: white;
		border: 0;
		outline: 0;
		background: none;
		width: 0;
		caret-color: transparent;
		line-height: 40px;
		transition: width 0.4s linear;
	}

	.searchbar:hover>.search_input {
		padding: 0 10px;
		width: 350px;
		caret-color: red;
		transition: width 0.4s linear;
	}

	.searchbar:hover>.search_icon {
		background: white;
		color: #e74c3c;
	}

	.search_icon {
		height: 40px;
		width: 40px;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: white;
		text-decoration: none;
	}
</style>

{{>userfooter}}
<script>
	$(document).ready(function () {
		$('.subCat').click(function () {
			const value = $(this).attr('data-filter');
			$('.itemBox').not('.' + value).hide('1000');
			$('.itemBox').filter('.' + value).show('1000');
		})
	})
</script>

<script>
	function searchh(){
  value = document.getElementById('search').value
  var filter = value.toUpperCase()
  products = document.querySelectorAll('.produtsname')
  div = document.querySelectorAll('.produtsdiv')
for(var i=0; i<products.length; i++){
  let productsss=products[i].innerHTML																																																																																																											 		
if (productsss.toUpperCase().search(filter) !=-1) {
          div[i].hidden=false

      } else {
          div[i].hidden=true
      }																																																	
}

}
</script>

	